html {
    margin:0;
    padding:0;
    height:100%;
}

body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h3 {
    font-size: 1em;
    color: gray;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.well {
    background: lightgreen;
    height: 100%;
    color: #000;
    text-align: center;
    padding: 16px;
    border-radius: 2px;
    margin: 8px;
}

.field {
    height: 100%;
}

.node {
    min-height: 80px;
    min-width: 50px;
}

.nodeInner {
    margin: 10px;
}

.selected {
    border: solid red !important;
}

.male {
    background: lightskyblue;
}

.female {
    background: pink;
}

